#contenedor-header .row .well{
	margin-top: 3em;
	background: rgba(17, 141, 17, 0.61);
}

.well{
	 background-color:rgba(233, 250, 229, 1);
}

#contenedor-inputs{
	margin-top: 2em;
}

#row-entrarbtn{
	margin-top:1em;
}

p.error{
    color:#f00;
}
